@using Microsoft.AspNetCore.Identity;
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager
@model IEnumerable<SiteUser>

div class="text-center">
    <ul>
        @foreach (var item in Model)
        {
            <li calss="user-list">
               @item.Email
               
            </li>
        }
    </ul>
    
</div>
