@using Microsoft.AspNetCore.Identity;
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager
@model IEnumerable<SiteUser>



<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
<div class="text-center">
    <ul>
        @foreach (var item in Model)
        {
            @if (item.Id != UserManager.GetUserId(User))
            {
            <li calss="user-list">
               @item.Email
                @{
                    var roles = await UserManager.GetRolesAsync(item);
                    foreach (var role in roles)
                    {
                       @role
                    }
                }
                @if(roles.Contains("Admin"))
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="RevokeAdmin" asp-route-id="@item.Id">Revoke admin</a>
                }
                else
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="GiveAdmin" asp-route-id="@item.Id">Give admin</a>
                }
            </li>
            }
        }
    </ul>
    
</div>
</body>
</html>